{% extends 'base.html' %}

{% block title %}
<title>Онлайн магазин</title>
{% endblock %}

{% block body %}

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Асортимент</h1>
      <p class="fs-5 text-muted">Вказано розміри однієї штуки (плитки) з колекції відповідної назви.</p>
    </div>



    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      {% for el in data %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ el.title }}</h4>
          </div>
          <div class="card-body">
            <img src="static/3.jpeg" width="250" height="250" alt="Письма мастера дзен" class="center-img">
            <h1 class="card-title pricing-card-title">₴{{ el.price }}<small class="text-muted fw-light">/m²</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Довжина: {{ el.length }} мм.</li>
              <li>Ширина: {{ el.width }} мм.</li>
              <li>Товщина: {{ el.thickness1 }}-{{ el.thickness2 }} мм.</li>
              <li>Кількість в 1 м²: {{ el.quantity }} шт.</li>
            </ul>
            <a href="/buy/{{ el.id }}" type="button" class="w-100 btn btn-lg btn-outline-primary">Обрати</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


{% endblock %}
